body::-webkit-scrollbar {display: none;}
.mapouter{
  position:relative;
  text-align:right;
  height:500px;
  width:100%;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:500px;width:100%;
}
.cardStyle:hover{
  opacity: 0.7;
  box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.75);
}
